*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'roboto';
}

body{
	margin: auto;
	min-height: 600px;
	text-align: center;
	background: rgb(189,195,199);
 	background: linear-gradient(0deg, rgba(189,195,199,1) 0%, rgba(23,56,78,1) 100%); 
}

body.body-contaacto{
	background: white;
}

header{
	background: #A6341B;
	width: 100%;
	border-bottom: 2px solid grey;
}

header .banner{
	width: 100%;
}

header nav{
	display: flex;
	justify-content: space-around;
	margin: 0 120px;
}

header nav a{
	text-decoration: none;
	color: white;
	background: none;
	border-radius: 10px;
	font-size: 20px;
	font-weight: bold;
	padding: 10px;
	transition: transform .3s;
}

header nav a:hover{
	transform: scale(1.05);
	text-decoration: none;
	color: black;
	border-radius: 10px;
	background: #D1BF91;
	font-size: 20px;
	font-weight: bold;
	padding: 10px;
}

main{
	margin: 50px auto;
	width: 100%;
}

main.pizzerias{
	margin: auto;
}

main .principal{
	display: flex;
	margin: auto;
}

.container-70{
	width: 65%;
}

.container-30{
	margin: 10px;
	width: 30%;
	background: rgba( 255, 255, 255, 0.25 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 8.5px );
	-webkit-backdrop-filter: blur( 8.5px );
	border-radius: 30px;
	border: 1px solid rgba( 255, 255, 255, 0.18 );
	filter: grayscale(1);
}

.container-30:hover{
	width: 30%;
	background: rgba( 255, 255, 255, 0.25 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 8.5px );
	-webkit-backdrop-filter: blur( 8.5px );
	border-radius: 30px;
	border: 1px solid rgba( 255, 255, 255, 0.18 );
	filter: grayscale(0);
}

.container-30 h3{
	color: #A6341B;
	padding: 10px 0;
}

.container-30 a{
	text-decoration: none;
}

.container-30 .image{
	transition: transform .2s;
}

.container-30 .image:hover{
	transform: scale(1.03);
}

.container-30 .publi{
	opacity: 0;
	position: absolute;
	z-index: 10;
	font-size: 40px;
	font-weight: 700;
	top: 215px;
	margin: 0 20px;
	color: white;
	transition: .5s all ease;
}

.container-30 .publi:hover{
	opacity: 1;
	position: absolute;
	z-index: 10;
	font-size: 40px;
	font-weight: 700;
	top: 190px;
	margin: 0 20px;
	color: white;
}

.container-30 .nico{
	opacity: 0;
	position: absolute;
	z-index: 11;
	font-size: 40px;
	font-weight: 700;
	top: 340px;
	margin: 0 20px;
	color: white;
	transition: .5s all ease;
}

.container-30 .nico:hover{
	opacity: 1;
	position: absolute;
	z-index: 11;
	font-size: 40px;
	font-weight: 700;
	top: 355px;
	margin: 0 20px;
	color: white;
}

.container-30 p{
	font-size: 16px;
	padding: 5px 0;
	color: #60371E;
}

.container-30 img{
	width: 80%;
	border-radius: 130px;
	padding: 20px 0;
}


main .container-70 h1{
	color: #e15f41;
	font-size: 35px;
}

main .container-70 h2{
	color: black;
	
}

main .container-70 p{
	margin: 50px 120px;
	text-align: left;
}

.nav{
	
	padding: 2px 0;
	background: rgb(232,133,73);
	background: linear-gradient(0deg, rgba(232,133,73,1) 0%, rgba(96,55,30,1) 100%);
}

footer{
	background: black;
	opacity: .4;
	width: 100%;
	padding: 4px 0;
	bottom: 0;
	position: relative;
}

footer p{
	color: white;
	font-weight: bold;
}

.copy{
	display: flex;
	justify-content: center;
	align-items: center;
}

.copy a{
	transition: transform .2s;
	margin-left: 10px;
	font-size: 20px;
	color: white;
}

.copy a:hover{
	transform: scale(1.3);
	margin-left: 10px;
	font-size: 20px;
	color: #3498db;
}

/*--------------------------- PIZZERIAS.HTML ----------------------*/

main .container .info-pizz{
	display: flex;
	margin: 0 20px;
}

.redes{
	display: inline-flex;
	list-style: none;
	font-size: 30px;
}

.redes li a{
	padding: 0 10px 10px 10px;
	color: #34495e;
}

.redes li a:hover{
	padding: 0 10px 10px 10px;
	color: #3498db;
}

.info-pizz img{
	border-radius: 5px;
	width: 70%;
}

.container-pizz1{
	background: #bdc3c7;
	padding: 10px 0;
}

.container-pizz2{
	background: #95a5a6;
	padding: 10px 0;
}

.imagen{
	width: 35%;
}

.parrafo-info{
	text-align: left;
	margin-top: 40px;
	width: 65%;
}

.parrafo-info p{
	line-height: 25px;
}

.parrafo-info p b{
	line-height: 50px;
}

/*----------------------CONTACTO----------------------*/

.formulario{
	width: 40%;
    margin: 20px auto;
    height: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background: rgba( 255, 255, 255, 0.35 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 20.0px );
	-webkit-backdrop-filter: blur( 20.0px );
	border-radius: 10px;
	border: 1px solid rgba( 255, 255, 255, 0.18 );

	padding: 20px;
}

.formulario input{
	width: 100%;
	padding: 10px;
	border-radius: 5px;
}

.boton{
	text-align: center;
}

.boton input{
	width: 30%;
	margin-top: 20px;
	padding: 5px 0;
	background: #A6341B;
	color: white;
	font-weight: bold;
	border-radius: 5px;
	border: 2px solid transparent;
	cursor: pointer;
}

.boton input:hover{
	width: 30%;
	margin-top: 20px;
	padding: 5px 0;
	background: white;
	color: black;
	font-weight: bold;
	border-radius: 5px;
	border: 2px solid #A6341B;
	cursor: pointer;
}

.formulario .input-form{
	margin: 10px 0;
}

textarea{
	width: 100%;
	height: 200px;
	border-radius: 5px;
}

.input-style{
	border-top-style: hidden;
	border-left-style: hidden;
	border-right-style: hidden;
	border-bottom-style: groove;
	outline: none;
}

/*------------------------AGREGAR--------------------------------*/

.formulario-agregar{
	margin: 40px auto;
	width: 80%;
	
	background: rgba( 255, 255, 255, 0.35 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 20.0px );
	-webkit-backdrop-filter: blur( 20.0px );
	border-radius: 10px;
	border: 1px solid rgba( 255, 255, 255, 0.18 );

	
	padding: 20px 0;
	height: 710px;
}

form{
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: 100%;
}

.boton-agregar{
	grid-column: span 2;
}

form .formulario-grupo{
	width: 100%;
	margin: 15px 0;
}

form .formulario-grupo.label{
	display: flex;
	align-items: center;
}

form .formulario-grupo label{
	font-size: 16px;
	font-weight: bold;
}

form .formulario-grupo input{
	padding: 10px 0;
	width: 70%;
}

form .formulario-grupo textarea{
	width: 80%;

}
 

